.list01 {
    padding: 75px;
    background-color: aquamarine;
    font-size: 28px;
}

#image01 {
    padding: 100px;
    background-color: rgb(158, 82, 229);
}

h2 {
    color: dodgerblue;
    padding: 135px;
    ;
}